.sidenav {
    width: 250px;
    background-color: #06101a;
    padding: 15px;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidenav .user-info {
    margin-bottom: 20px;
  }
  
  .sidenav .user-email {
    color: var(--orange);
    font-size: 15px;
    margin-left: 20px;
  }
  
  .sidenav .logout-btn {
    font-size: 15px;
    padding: 5px 10px;
  }
  
  .sidenav .nav-link, .sidenav .dropdown-btn {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    padding: 10px;
    display: block;
    transition: background-color 0.3s;
  }
  
  .sidenav .nav-link:hover, .sidenav .dropdown-btn:hover {
   
  }
  
  .sidenav .dropdown-container {
    display: none;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  .sidenav .dropdown-container.active {
    display: block;
  }
  
  .sidenav .dropdown-item {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 8px 16px;
  }
  
  .sidenav .dropdown-item:hover {
    background-color: #ddd;
  }
  
  .sidenav .logo-container {
    text-align: center;
    margin-top: auto;
  }
  
  .sidenav .logo-img {
    height: 50px;
    width: 190px;
    margin-top: 350px;
  }
  .tct{
    margin-left: -29px;
    
  }
  .cns{
    margin-left: -18px;
  }
  .menu-icon {
    font-size: 18px; /* Adjust the size as needed */
  }
  .TDM{
    margin-left: -4px;
  }
  .account{
    font-size: 17px; 
  }
  .user{
    margin-left: 4px;
  }
  
  
  